.sprite {
  height: 370px;
  width: 370px;
  background-image: url("/laxjs/assets/spritesheet.jpg");
  background-repeat: no-repeat;
  position: fixed;
  left: calc(50vw - 185px);
  top: calc(50vh - 185px);
}

body {
  padding: 0;
  background-color: #dedbde;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  margin: 0;
  background-size: 700px 700px;
  height: 1000000px;
}
