body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#input {
  text-align: center;
  width: calc(100vw - 200px);
  transform-origin: center;
  margin-left: 100px;
  margin-top: calc(50vh - 50px);
  position: fixed;
  font-size: 40px;
  border: 0;
  outline: 0;
  background-color: #f544ad;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  border-radius: 50px;
}
